* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Style général pour le corps de la page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F9F5F0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5% 10% 10% 10%;
    width: 100%;
    gap: 50px;
}

section {
    width: 100%;
}

#paul-dechewsky {
    color: #000;
    text-align: center;
    font-family: "Liu Jian Mao Cao";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
    position: relative;
}

.barre-horizontale {
    width: 200px;
    height: 4px;
    background-color: #545470;
}

.button-explorer {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    /* Couleur du texte */
    background-color: rgba(255, 255, 255, 0.6);
    /* Fond semi-transparent */
    font-family: Arial, sans-serif;
    /* Police de caractères */
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet au survol */
.button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


.logo {
    width: 200px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Espace entre les liens */
    padding: 10px 0;
}

/* Styles pour chaque lien du menu */
.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

#accueil {
    background-image: url("images/IMAGE-ACCUEIL.png");
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.accueil-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    /* Centre l'image */
}

h1,
p {
    font-family: "Inter";
}

h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.art-expressioniste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#gris {
    color: #545470;
}

.img-texte {
    display: flex;
    gap: 50px;
}

.img-texte img {
    width: 40%;
}

#dame-qui-marche{
    height: 400px;
}

.img-texte div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.nos-services {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.la-galerie{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.la-galerie span,
.nos-expositions span,
.nos-services span {
    color: #000000;
}

.la-galerie h1,
.nos-expositions h1,
.nos-services h1 {
    color: #545470;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    text-decoration: none;
    text-align: left;
}

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    max-width: 344px;
    height: 261px;
}

.artwork div.tableau {
    width: 100%;
    height: 100%;
    /* Hauteur fixe pour toutes les images */
    object-fit: cover;
    background-size: cover;
    /* Adapte l'image pour qu'elle remplisse le conteneur sans distorsion */
    display: flex;
    justify-content: center;
    align-items: end;
}

.artwork-details {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.artwork-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

#eclats-de-silence {
    background-image: url("images/eclats-de-silence.png");
}

#les-coeurs-du-crepuscule {
    background-image: url("images/les-coeurs-du-crepuscule.png");
}

#tempete-emotionnelle {
    background-image: url("images/tempete-emotionnelle.png");
}

#l-ombre-des-souvenirs {
    background-image: url("images/l-ombre-des-souvenirs.png");
}

#souffle-de-solitude {
    background-image: url("images/souffle-de-solitude.png");
}

#murmures-du-chaos {
    background-image: url("images/murmures-du-chaos.png");
}

#chagall-couleurs-et-reveries {
    background-image: url("images/expo1.jpg");
}

#l-expression-brute-de-kikoine {
    background-image: url("images/expo2.jpg");
}


.artwork-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: rgba(45, 45, 47, 0.8);
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.artwork-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.gallery-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.gallery-2 .artwork {
    width: 100%;
    max-width: 560px;
    height: 481px;
    gap: 20px;
}

.gallery-2 .artwork-details {
    background-color: rgba(134, 134, 167, 0.8);
    color: black;
    font-size: 17px;
    padding-block: 15px;
}

.gallery-2 .artwork-title {
    margin: 0;
}

.nos-expositions {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.horaires {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.horaires i.fa-regular.fa-clock {
    font-size: 35px;
}

.services {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.service i {
    font-size: 30px;
    color: white;
}

.service .rond {
    background: red;
    border-radius: 100%;
    padding: 10px;
    width: 62px;
    height: 62px;
    background-color: #545470;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service h2 {
    font-size: 25px;
}

.service .textes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
}

h2 {
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #545470;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 100%;
    gap: 150px;
    background-color: #3A3939;
}

footer p {
    color: white;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#plan {
    width: 100%;
}

.plan-et-mail {
    max-width: 776px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.plan-et-mail p {
    font-size: 25px;
}

.email-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 476px;
    background: #F5F5F5;
    color: #939393;
}

.submit-button {
    background: #F5F5F5;
    color: #222222;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.submit-button:hover {
    background-color: #545470;
    color: #F5F5F5;
    transition: 0.3s;
}

.plan-et-mail form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: 1px solid green;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
}

.contact i{
    font-size: 35px;
}

.contact#adresse p{
    text-align: left;
}